<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>La liste des produits</h1>
    <a th:href="addProduct">Ajouter un produit</a>
    <br/>
    <br/>
    <div>
        <table border="1">
            <tr>
                <th>Libellé</th>
                <th>Description</th>
                <th>Prix</th>
            </tr>
            <tr th:each ="product : ${products}">
                <td th:utext="${product.name}">...</td>
                <td th:utext="${product.description}">...</td>
                <td th:utext="${product.price}">...</td>
            </tr>
        </table>
    </div>
    <h2 th:utext="${message}">....!..</h2>

    <a th:href="@{/productList}">Product List</a>

</body>
</html>