<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>La liste des produits</h1>
    <a th:href="addProduct">Ajouter un produit</a>
    <br/>
    <br/>
    <div>
        <table border="1">
            <tr>
                <th>Libellé</th>
                <th>EAN</th>
                <th>Description</th>
                <th>Prix</th>
            </tr>
            <tr th:each="product : ${productList}">
                <td th:utext="${product.EAN}">EAN</td>
                <td th:utext="${product.name}">libellé</td>
                <td th:utext="${product.description}">description</td>
                <td th:utext="${product.price}">Prix</td>
                <td>
                    <a th:href="/@{'/edit/' + ${product.EAN}}">Editer</a>
                    <a th:href="/@{'/delete' + ${product.EAN}}">Supprimer</a>
                </td>
            </tr>
        </table>
    </div>
    <h2 th:utext="${message}">....!..</h2>

    <a th:href="@{/productList}">Product List</a>

</body>
</html>